body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  width: 367px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    width: 1168px;
  }
}

a {
  display: block;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* <!-- ========= Header ========= --> */
.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .box-header {
    display: block;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin: 0;
  }
}

.box-logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
}

.logo {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111111;
}

@media screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}

.logo-style {
  font-style: italic;
}

.box-logo-header-icon {
  margin-left: 4px;
}

.icon-logo {
  width: 21px;
  height: 21px;
}

@media screen and (min-width: 1168px) {
  .icon-logo {
    width: 24px;
    height: 24px;
  }
}

.box-nav-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .box-nav-header {
    display: flex;
    gap: 48px;
  }
}

@media screen and (min-width: 1168px) {
  .box-nav-header {
    gap: 90px;
  }
}

.navigation-menu {
  display: flex;
  gap: 24px;
  margin-bottom: 0;
}

.text-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
  padding-top: 32px;
  padding-bottom: 32px;
}

.text-menu:hover,
.text-menu:focus {
  color: #fd9222;
}

.list-social-link-header {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  gap: 18px;
}

.ison-social-link {
  fill: none;
  stroke-width: 2px;
  stroke: #111111;
}

.ison-social-link:hover,
.ison-social-link:focus {
  stroke: #fd9222;
}

/* <!--========= Mobile menu =========--> */

.btn-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  stroke: #111111;
}

@media screen and (min-width: 768px) {
  .btn-mobile-menu {
    display: none;
  }
}

.icon-mobile-menu {
  width: 28px;
  height: 28px;
}

.box-mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .box-mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  width: 375px;
  height: 100%;
  background-color: #1e1823;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 136px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.box-mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.btn-close-mobile-menu {
  border: none;
  background-color: transparent;
  stroke: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-mobile-menu {
  margin-bottom: auto;
}

.list-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
}

.link-mobile-menu {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.link-mobile-menu:hover,
.link-mobile-menu:focus {
  color: #fd9222;
}

.corrent {
  color: #fd9222;
}

.mobile-list-icon-social {
  display: flex;
  gap: 18px;
}

.mobile-link-social {
  stroke: #ffffff;
}

.mobile-link-social:hover,
.mobile-link-social:focus {
  stroke: #fd9222;
}

/* <!-- ========= Section Hero ========= --> */
.section-hero {
  border-radius: 30px;
  max-width: 375px;
  background-image: linear-gradient(
      to bottom,
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/chocolate-covered-cocoa-powder-mobile@1x.jpg);
  padding-top: 395px;
  padding-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/chocolate-covered-cocoa-powder-mobile@2x.jpg);
    padding-top: 381px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/chocolate-covered-cocoa-powder-tablet@1x.jpg);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 671px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/chocolate-covered-cocoa-powder-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1168px) {
  .section-hero {
    max-width: 1200px;
    background-image: linear-gradient(
        to bottom,
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/chocolate-covered-cocoa-powder-desctop@1x.jpg);
    padding-top: 381px;
    margin-bottom: 72px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1168px),
  (min-resolution: 192dpi) and (min-width: 1168px) {
  .section-button {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/chocolate-covered-cocoa-powder-desctop@2x.jpg);
  }
}

.title-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #ffffff;
  max-width: 291px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .title-hero {
    font-size: 28px;
    max-width: 484px;
    margin: 0 0 32px 0;
  }
}

.box-button-hero {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .box-button-hero {
    flex-wrap: nowrap;
    row-gap: 0;
    width: 624px;
    margin: 0;
  }
}

@media screen and (min-width: 1168px) {
  .box-button-hero {
    width: 1056px;
    margin-left: 0;
    margin-right: 0;
  }
}

.button-hero {
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}

@media screen and (min-width: 768px) {
  .button-hero {
    padding: 14px 40px;
    width: 144px;
    height: 45px;
  }
}

.button-hero:hover,
.button-hero:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.link-hero {
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 159px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .link-hero {
    padding: 14px 40px;
    min-width: 183px;
    height: 45px;
  }
}

.link-hero:hover,
.link-hero:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .box-scroll {
    margin-left: auto;
  }
}

.link-scroll-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #ffffff;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .link-scroll-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
}

.link-scroll-btn:hover,
.link-scroll-btn:focus {
  color: #fd9222;
}

.link-scroll-btn:hover .scroll-btn,
.link-scroll-btn:hover .scroll-btn {
  fill: #ffffff;
  background-color: #fd9222;
}

.scroll-btn {
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 14px;
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .scroll-btn {
    width: 38px;
    height: 38px;
  }
}

.icon-scroll {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .icon-scroll {
    width: 22px;
    height: 22px;
  }
}

/* <!-- ========= Section description ========= --> */

.section-description {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-description {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1168px) {
  .section-description {
    margin-bottom: 69px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-description {
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .box-description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 704px;
  }
}

@media screen and (min-width: 1168px) {
  .box-description {
    width: 1100px;
  }
}

.list-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .list-description {
    gap: 88px;
    row-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .description {
    flex-basis: calc((100% - 88px) / 2);
  }
}

@media screen and (min-width: 1168px) {
  .description {
    flex-basis: calc((100% - 2 * 88px) / 3);
    position: relative;
  }
}

@media screen and (min-width: 1168px) {
  .line::after {
    position: absolute;
    right: -70px;
    top: 50%;
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 124px;
    height: 0px;
    transform: rotate(-90deg);
    display: block;
  }
}

.box-icon-description {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.title-description {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}

.text-description {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* <!-- ========= Section ingredient ========= --> */

.section-ingredients {
  margin-bottom: 60px;
}

@media screen and (min-width: 1168px) {
  .section-ingredients {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1168px) {
  .section-ingredients {
    margin-bottom: 100px;
  }
}

.title-section-ingredient {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  width: 283px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .title-section-ingredient {
    font-size: 24px;
    line-height: 1.16;
    width: 411px;
    margin-bottom: 28px;
  }
}

.corrent-text {
  color: #fd9222;
}

.description-title-ingredient {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111111;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .description-title-ingredient {
    width: 486px;
    margin-bottom: 50px;
  }
}

.list-ingredient {
  display: flex;
  row-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .list-ingredient {
    gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1168px) {
  .list-ingredient {
    gap: 19px;
    flex-wrap: nowrap;
  }
}

.ingredient {
  padding: 28px 56px;
  border-radius: 15px;
  width: 335px;
  height: 270px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .ingredient {
    max-width: calc((100% - 32px) / 2);
    width: 336px;
  }
}

@media screen and (min-width: 1168px) {
  .ingredient {
    max-width: calc((100% - 3 * 19px) / 4);
    padding: 28px 32px;
    width: 270px;
  }
}

.backgraund-orange {
  background-color: #fd9222;
}

.border-color {
  border: 1px solid #fd9222;
  background-color: #ffffff;
}

.backgraund-black {
  background-color: #1e1823;
}

.img-ingredient {
  margin-bottom: 36px;
}

.title-photo-ingredient-white {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.title-photo-ingredient-black {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
}

.box-overlay {
  position: absolute;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  padding: 20px;
  transform: translatex(-100%);
  transition: transform 250ms ease-in-out;
  overflow-y: auto;
  scrollbar-width: none;
}

.ingredient:hover .box-overlay {
  transform: translatex(0);
}

.ingredient:hover {
  border: none;
  background-color: #ffffff;
}

.title-overlay {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 8px;
}

.box-overlay-link {
  display: flex;
  width: 180;
  gap: 6px;
  margin-bottom: 14px;
}

.btn-overlay-chocolate {
  border-radius: 35px;
  padding: 6px 16px;
  width: 81px;
  height: 24px;
  background-color: #fd9222;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
}

.btn-overlay-milk {
  border-radius: 35px;
  padding: 6px 16px;
  width: 54px;
  height: 24px;
  border: none;
  background-color: #fd9222;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.btn-overlay-nuts {
  border-radius: 35px;
  padding: 6px 16px;
  width: 55px;
  height: 24px;
  border: none;
  background-color: #fd9222;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.btn-overlay-semi {
  border-radius: 35px;
  padding: 6px 16px;
  min-width: 114px;
  height: 24px;
  border: none;
  background-color: #fd9222;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.btn-overlay-semi:hover,
.btn-overlay-semi:focus,
.btn-overlay-nuts:hover,
.btn-overlay-nuts:focus,
.btn-overlay-milk:hover,
.btn-overlay-milk:focus,
.btn-overlay-chocolate:hover,
.btn-overlay-chocolate:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.link-overlay {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  min-width: 93px;
  height: 24px;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111111;
  display: flex;
  align-items: center;
}

.link-overlay:hover,
.link-overlay:focus {
  background-color: #fd9222;
  color: #ffffff;
}

.description-overlay {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111111;
}
